body {
  padding : 10px ;
}
#tab-1 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: none !important;
}
.nav-tabs{
  border: none !important;
}
.lan-left{
  border-left: 2px solid black;
  border-radius: 0px 0px 0px 5px;
}
.lan-left>a{
  border-bottom: 2px solid black !important;
}
.wifi-left>a{
  border-left: 2px solid #000 !important;
  border-bottom: 2px solid #000 !important;
  border-radius: 0px 0px 0px 5px !important;
}
.wifi-right>a{
  border-right: 2px solid #000 !important;
  border-bottom: 2px solid #000 !important;
  border-radius: 0px 0px 5px 0px !important;
}
.lte-right{
  border-right: 2px solid black;
  border-radius: 0px 0px 5px 0px;
}
.lte-right>a{
  border-bottom: 2px solid black !important;
}
.lte-right>a>p{
  border-right: 2px solid black;
  margin: 0px;
  padding: 0px 5px 0px 0px;
}
